<section class="faq section" id="faq">
  <div class="container faq-container">
    <div class="faq-title-wrapper">
      <h2 class="faq-title">Часті питання</h2>
      <p class="faq-title-text"></p>
    </div>
    <ul class="faq-list">
      <li class="faq-item">
        <h3 class="faq-question">
          Як здійснюється доставка меблів?
          <svg class="faq-question-arrow faq-question-arrow-down" width="24" height="24" >
            <use href="./img/icons.svg#chevron-down"></use>
          </svg>
          <svg class="faq-question-arrow faq-question-arrow-up" width="24" height="24" >
            <use href="./img/icons.svg#chevron-up"></use>
          </svg>
        </h3>
        <p class="faq-answer">Ми доставляємо замовлення по всій Україні через надійні служби. Термін доставки зазвичай складає 3–7 днів залежно від регіону.</p>
      </li>
      <li class="faq-item is-open">
        <h3 class="faq-question">
          Чи є можливість вибрати колір або матеріал?
          <svg class="faq-question-arrow faq-question-arrow-down" width="24" height="24">
            <use href="./img/icons.svg#chevron-down"></use>
          </svg>
          <svg class="faq-question-arrow faq-question-arrow-up" width="24" height="24">
            <use href="./img/icons.svg#chevron-up"></use>
          </svg>
        </h3>
        <p class="faq-answer">Так, у багатьох моделях доступні варіанти оббивки та кольорів. Усі доступні опції вказані на сторінці товару.</p>
      </li>
      <li class="faq-item">
        <h3 class="faq-question">
          Чи можна повернути товар, якщо він не підійшов?
          <svg class="faq-question-arrow faq-question-arrow-down" width="24" height="24">
            <use href="./img/icons.svg#chevron-down"></use>
          </svg>
          <svg class="faq-question-arrow faq-question-arrow-up" width="24" height="24">
            <use href="./img/icons.svg#chevron-up"></use>
          </svg>
        </h3>
        <p class="faq-answer">Так, ви можете повернути товар протягом 14 днів, якщо він не був у користуванні та збережений у первинному вигляді.</p>
      </li>
      <li class="faq-item is-open">
        <h3 class="faq-question">
          Чи надаєте ви послугу збирання меблів?
          <svg class="faq-question-arrow faq-question-arrow-down" width="24" height="24">
            <use href="./img/icons.svg#chevron-down"></use>
          </svg>
          <svg class="faq-question-arrow faq-question-arrow-up" width="24" height="24">
            <use href="./img/icons.svg#chevron-up"></use>
          </svg>
        </h3>
        <p class="faq-answer">Так, під час оформлення замовлення можна обрати послугу збирання. Наші майстри зберуть меблі у зручний для вас час.</p>
      </li>
      <li class="faq-item">
        <h3 class="faq-question">
          Як здійснити оплату?
          <svg class="faq-question-arrow faq-question-arrow-down" width="24" height="24">
            <use href="./img/icons.svg#chevron-down"></use>
          </svg>
          <svg class="faq-question-arrow faq-question-arrow-up" width="24" height="24">
            <use href="./img/icons.svg#chevron-up"></use>
          </svg>
        </h3>
        <p class="faq-answer">Ми приймаємо оплату карткою онлайн, банківським переказом або післяплатою при отриманні.</p>
      </li>
    </ul>
  </div>
</section>