<section class="feedback section-64 section" id="feedback">
  <div class="container feedback-container">
    <div class="feedback-title-wrapper">
      <h2 class="feedback-title">Відгуки клієнтів</h2>
      <p class="feedback-title-text">Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>
    </div>
    <div class="feedback-wrapper">
      <ul class="feedback-list">
        <li class="feedback-item">
<!--          
          <div class="feedback-rating rating value-3">
            <div class="start-container"></div>
          </div>
        -->
          <div class="feedback-rating">
            <div class="feedback-star-wrapper">
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star">
                <use href="./img/icons.svg#star"></use>
              </svg>
            </div>
          </div>
          <p class="feedback-text">“Дуже задоволена покупкою! Диван не тільки стильний, а й неймовірно зручний. Доставка була швидкою, все без жодної подряпини.”</p>
          <p class="feedback-author">Олена Коваль</p>
        </li>
        <li class="feedback-item">
<!--
          <div class="feedback-rating rating value-3 half">
            <div class="start-container"></div>
          </div>
          -->
          <div class="feedback-rating">
            <div class="feedback-star-wrapper">
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star">
                <use href="./img/icons.svg#star"></use>
              </svg>
            </div>
          </div>
          <p class="feedback-text">“Замовляв шафу й ліжко — все приїхало раніше терміну. Якість перевершила очікування, збирання зайняло мінімум часу.”</p>
          <p class="feedback-author">Андрій Шевченко</p>
        </li>
        <li class="feedback-item">
<!--
          <div class="feedback-rating rating value-4">
            <div class="start-container"></div>
          </div>
        -->
          <div class="feedback-rating">
            <div class="feedback-star-wrapper">
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star">
                <use href="./img/icons.svg#star"></use>
              </svg>
            </div>
          </div>
          <p class="feedback-text">“Нарешті знайшли меблі, які ідеально вписались у наш інтер’єр. Сайт зручний, підтримка завжди на зв’язку.”</p>
          <p class="feedback-author">Іванна Петренко</p>
        </li>
        <li class="feedback-item">
<!--
          <div class="feedback-rating rating value-4 half">
            <div class="start-container"></div>
          </div>
        -->
          <div class="feedback-rating">
            <div class="feedback-star-wrapper">
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star is-marked">
                <use href="./img/icons.svg#star"></use>
              </svg>
              <svg class="feedback-star">
                <use href="./img/icons.svg#star"></use>
              </svg>
            </div>
          </div>
          <p class="feedback-text">“Замовляв шафу й ліжко — все приїхало раніше терміну. Якість перевершила очікування, збирання зайняло мінімум часу.”</p>
          <p class="feedback-author">Андрій Шевченко</p>
        </li>
      </ul>
      <div class="wiper-controls-wrapper">
        <div class="wiper-controls">This is just a text</div>
        <ul class="feedback-navigation-list">
          <li class="feedback-navigation-item">
            <button class="feedback-navigation-button slider-arrow" type="button">
              <svg class="feedback-navigation-button-icon" width="24" height="24">
                <use href="./img/icons.svg#left-arrow-alt"></use>
              </svg>
            </button>
          </li>
          <li class="feedback-navigation-item">
            <button class="feedback-navigation-button slider-arrow" type="button" disabled>
              <svg class="feedback-navigation-button-icon" width="24" height="24">
                <use href="./img/icons.svg#right-arrow-alt"></use>
              </svg>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>