<section class="feedback section-64 section" id="feedback">
  <div class="container feedback-container">
    <div class="feedback-title-wrapper">
      <h2 class="feedback-title">Відгуки клієнтів</h2>
      <p class="feedback-title-text">Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>
    </div>
    <div class="feedback-wrapper swiper feedback-swiper">
      <ul class="feedback-list feedback-data-container swiper-wrapper"></ul>
      <div class="feedback-swiper-controls hidden">
        <div class="feedback-swiper-pagination"></div>
        <div class="feedback-navigation-wrapper">
          <button class="feedback-navigation-button slider-arrow feedback-swiper-button-prev" type="button">
            <svg class="feedback-navigation-button-icon">
              <use href="./img/icons.svg#left-arrow-alt"></use>
            </svg>
          </button>
          <button class="feedback-navigation-button slider-arrow feedback-swiper-button-next" type="button">
            <svg class="feedback-navigation-button-icon">
              <use href="./img/icons.svg#right-arrow-alt"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>

  <template id="feedback-star-template">
    <div class="star">
      <svg class="star-empty"><use href="./img/star-rating.icons.svg#star-empty"></use></svg>
      <svg class="star-half"><use href="./img/star-rating.icons.svg#star-half"></use></svg>
      <svg class="star-filled"><use href="./img/star-rating.icons.svg#star-filled"></use></svg>
    </div>
  </template>
</section>