<section class="section furniture" id="furniture">
  <div class="container furniture-container">
    <div class="furniture-wrapper">
      <div class="furniture-title-wrapper">
        <h2 class="furniture-title">Наші меблі</h2>
        <p class="furniture-title-text">Знайдіть ідеальні рішення для вашого інтер'єру</p>
      </div>
      <ul class="furniture-category-list"></ul>
      <ul class="furniture-list"></ul>
    </div>
    <button class="furniture-load-more-button button-primary" type="button">Показати ще</button>
  </div>
</section>