<section class="section" id="hero">
  <div class="hero-section">
    <div class="container hero-container">
      <div class="hero-title-wrapper">
        <h1 class="hero-title">Створіть свій ідеальний дім</h1>
        <p class="hero-text">
          Відкрийте для себе колекцію стильних та комфортних меблів, які перетворять ваш простір. Наша продукція поєднує в собі елегантність та функціональність.
        </p>
      </div>
      <a href="#feedback" class="hero-button button-primary">Що про нас думають</a>
    </div>
  </div>
</section>
