.about-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.about-image {
  border-radius: 8px;
  object-fit: cover;
}

@media screen and (min-width: 1440px) {
  .about-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }

  .about-title-wrapper {
    justify-content: center;
    flex-basis: calc((100% - 24px) / 2);
  }

  .about-title {
    font-size: 48px;
  }
}
