.m-link {
  display: block;
  border-radius: 100px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-wrap: nowrap;
  fill: currentColor;
  color: var(--color-neutral-darkest);
  transition: opacity var(--transition-250);

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    color: var(--color-wewak);

    &::after {
      top: -4px;
    }
  }

  &:disabled {
    opacity: 0.2;
  }
}

.button-primary,
.button-primary-small,
.button-primary-icon,
.button-primary-icon-small {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
  background: var(--color-madang);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  text-wrap: nowrap;
  color: var(--color-scheme-1-background);
  transition:
    box-shadow var(--transition-250),
    opacity var(--transition-250);

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.button-primary {
  padding: 10px 24px;
  height: 44px;
}

.button-primary-small {
  padding: 8px 20px;
  height: 40px;
}

.button-primary-icon {
  padding: 10px;
  width: 44px;
  height: 44px;
}

.button-primary-icon-small {
  padding: 8px;
  width: 40px;
  height: 40px;
}

.button-secondary,
.button-secondary-small,
.button-secondary-icon,
.button-secondary-icon-small {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 var(--opacity-neutral-darkest-5), inset 0 0 0 1px var(--opacity-neutral-darkest-5);
  background-color: var(--opacity-neutral-darkest-5);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-neutral-darkest);
  transition:
    box-shadow var(--transition-250),
    opacity var(--transition-250);

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    box-shadow: none;
  }

  &:disabled {
    opacity: 0.2;
  }
}

.button-secondary {
  padding: 10px 24px;
  height: 44px;
}

.button-secondary-small {
  padding: 8px 20px;
  height: 40px;
}

.button-secondary-icon {
  padding: 10px;
  width: 44px;
  height: 44px;
}

.button-secondary-icon-small {
  padding: 8px;
  width: 40px;
  height: 40px;
}

.slider-arrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--opacity-neutral-darkest-15);
  border-radius: 100px;
  width: 48px;
  height: 48px;
  padding: 12px;
  background-color: var(--color-scheme-1-foreground);
/*
  background-image: url('../img/arrows.svg');
  background-repeat: no-repeat;
*/
/*  background-position: center;*/
  fill: var(--color-scheme-1-text);

  &:hover,
  &:focus {
    background-color: var(--color-madang-light);
    fill: var(--color-scheme-1-background);
  }

  &:active {
    background-color: var(--color-madang);
    fill: var(--color-scheme-1-background);
  }

  &:disabled {
    background-color: var(--color-scheme-1-foreground);
    opacity: 0.3;
    fill: var(--color-scheme-1-text);
  }
}

/*
.slider-arrow.is-left {
  background-position: 0 center;
}

.slider-arrow.is-right {
  background-position: -24px center;
}

.slider-arrow.is-top {
  background-position: -48px center;
}

.slider-arrow.is-bottom {
  background-position: -72px center;
}
*/
/*
.slider-arrow-left {
  background-image: url(../img/icons.svg#left-arrow-alt);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}

.slider-arrow-right {
  background-image: url(../img/icons.svg#right-arrow-alt);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px 24px;
}
*/