.footer {
  padding: 0 0 32px;
  color: var(--color-scheme-1-background);
  background-color: var(--color-madang);
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.footer-logo-icon {
  width: 229px;
  height: 98px;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.footer-nav-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--color-scheme-1-background);
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  max-width: 120px;
}

.footer-social-icon {
  width: 24px;
  height: 24px;
  fill: var(--color-scheme-1-background);
}

.footer-credits {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--color-scheme-1-background);
  order: 999;
}

.footer-credits-desktop {
  display: none;
}

.footer-credits-mobile {
  display: inline;
}

@media only screen and (min-width: 768px) {
  .footer-nav-list {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1440px) {
  .footer {
    padding: 0;
  }

  .footer-container {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
  }

  .footer-credits {
    order: 0;
  }

  .footer-credits-desktop {
    display: inline;
  }

  .footer-credits-mobile {
    display: none;
  }
}