.furniture-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.furniture-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.furniture-title-wrapper {
  gap: 16px;
}

.furniture-category-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}

.furniture-category-item {
  flex-basis: calc((100% - 16px) / 2);
}

.furniture-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.furniture-load-more-button {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .furniture-category-list {
    gap: 24px;
  }

  .furniture-category-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .furniture-list {
    flex-wrap: wrap;
  }

  .furniture-item {
    flex-basis: calc((100% - 24px) / 2);
  }

  .furniture-load-more-button {
    max-width: 340px;
  }
}

@media screen and (min-width: 1440px) {
  .furniture-category-item {
    flex-basis: calc((100% - 6 * 24px) / 7);
  }

  .furniture-list {
    row-gap: 40px;
  }

  .furniture-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .furniture-load-more-button {
    max-width: 421px;
  }
}
