.furniture {
  padding-top: 48px;
  padding-bottom: 48px;
}

.furniture-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.furniture-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  width: 100%;
}

.furniture-title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
}

.furniture-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--color-scheme-1-text);
}

.furniture-title-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: var(--color-scheme-1-text);
}

.furniture-category-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  flex-basis: calc((100% - 16px) / 2);
  flex-wrap: wrap;
}

.furniture-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.furniture-load-more-button {
  width: 100%;
}

@media only screen and (min-width: 768px) {
  .furniture-category-list {
    gap: 24px;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .furniture-list {
    flex-basis: calc((100% - 24px) / 2);
    flex-wrap: wrap;
  }

  .furniture-load-more-button {
    max-width: 340px;
  }
}

@media only screen and (min-width: 1440px) {
  .furniture-category-list {
    flex-basis: calc((100% - 6 * 24px) / 7);
  }

  .furniture-list {
    row-gap: 40px;
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .furniture-load-more-button {
    max-width: 421px;
  }
}
