html {
  scroll-padding-top: 72px;
}

.header {
  position: sticky;
  top: 0;
  width: 100vw;
  padding-bottom: 2px;
  z-index: 999;
  background-color: var(--color-scheme-1-background);
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-list {
  display: none;
}

.header-nav-logo-icon {
  width: 163px;
  height: 70px;
}

.header-order-button {
  display: none;
}

.header-mobile-menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-mobile-menu-icon {
  width: 24px;
  height: 24px;
}

@media screen and (min-width: 1440px) {
  .header-nav {
    justify-content: space-between;
    gap: 32px;
  }

  .header-nav-list {
    margin-left: auto;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    justify-content: flex-start;
    gap: 32px;
  }

  .header-order-button {
    display: flex;
    width: 129px;
  }

  .header-mobile-menu-button {
    display: none;
  }  
}
